<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926771884367-m4us2u689apsb6a3pr6m0u7iv37hai71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926771884367-m4us2u689apsb6a3pr6m0u7iv37hai71</string>
	<key>API_KEY</key>
	<string>AIzaSyBbrWLfYC6ntui99TMQovsAsAEYr7fRKWY</string>
	<key>GCM_SENDER_ID</key>
	<string>926771884367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SreeDev.infinityProject</string>
	<key>PROJECT_ID</key>
	<string>project-infinity-3927</string>
	<key>STORAGE_BUCKET</key>
	<string>project-infinity-3927.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926771884367:ios:59312e831ca471e3bc953a</string>
</dict>
</plist>